.card1 {
    display: flex;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);

    padding: 5%;
    background-color: white;
    margin: 2% 10% 10% 10%;
    border-radius: 20px;
    font-size: larger;
}

img {
    width: 150;
    border-radius: 100px;
}

span {
    padding: 0% 3% 1% 3%;
}

#username {
    text-decoration: underline;
    font-size: 60px;
    color: rgb(208, 60, 60);
    margin-top: 0;
    margin-bottom: 0;
}