ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #ffffff; */
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  /* background-color: white; */
  border-bottom: #db1e1e;
}

.active {
  border-bottom: #db1e1e;
}

#logo {
  margin-bottom: 0;
  font-size: 20px;
  margin-top: 0;
}